# Python cache & virtual environments
__pycache__/
*.py[cod]
*.pyc
venv/
.venv/

# Node dependencies
node_modules/

# Ignore wiki data download
data/raw/
data/processed/

# Logs and training outputs
lightning_logs/
checkpoints/
runs/
*.ckpt
*.pt
*.pth
*.pth.tar
**/*pairs*.json
fine_tuned_osrs_embedder/
fine_tuned_osrs_embedder_epoch*/
fine_tuned_osrs_embedder_v2