# Python cache & virtual environments
__pycache__/
*.py[cod]
*.pyc
venv/
.venv/

# Node dependencies
node_modules/

# Ignore wiki data download
data/raw/
data/processed/

# Logs and training outputs
lightning_logs/
checkpoints/
runs/
*.ckpt
*.pt
*.pth
*.pth.tar